header{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  width: 300px;
  height: 450px;
  text-align: center;
  overflow: hidden;
  transition: transform 0.3s ease;
  margin: 30px;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 50%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
  margin: auto;
}

.card-body {
  padding: 5px;
  /* text-align: center; */
  /* flex-grow: 1; */
  border: 1px solid rgb(224, 219, 219);
  margin: 5px;
  border-radius: 12px;
}

.card-body h2 {
  font-size: 20px;
  /* margin: 10px 0; */
  color: #225b63;
}

.card-body p {
  font-size: 15px;
  color: #333;
  text-align: justify;
  /* margin-bottom: 12px; */
}
.card-body .date{
  text-align: right;
  font-size: 12px;
  color: #0d5e78;
  margin-top: auto;
  font-style: italic;

}

.card-body a {
  text-decoration: none;
  color:#11353a;
  padding: 8px 16px;
  border-radius: 6px;
  display: inline-block;
  border: 2px solid black;
  
}

.card-body a:hover {
  background-color: #1b454c;
  color: #ffffff;
}


