{% extends "base.html" %}
{% load static %}
{% block titlepage %}Post Details{% endblock  %}
{% block css %}
<link rel='stylesheet' href="{% static 'Blog/postdetails.css' %}">
{% endblock  %}
{% block content %}
<div class='postdetails'>
    
    
        <div class='post-body'>

            <h2>{{title}}</h2>
            <img src="{{ image.url }}" alt="first img">
            {% comment %} <p>{{post.summary}}</p> {% endcomment %}
            <p>{{content | linebreaks}}</p>
            <p class='date'>{{date}}</p>
            
        </div>  
</div>
<div  class='back-btn'>
    <a href='{% url "all-post" %}'>Back To All Post</a>
</div>
{% endblock  %}